.container {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Urbanist;
    margin: 40px auto;

  }
  
  .heading {
    color: var(--Black-Text-Color, #1f1f1f);
    letter-spacing: -1.5px;
    align-self: stretch;
    z-index: 10;
    
    width: 100%;
    font: 700 50px/1 Urbanist, -apple-system, Roboto, Helvetica, sans-serif;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .description {
    color: #475467;
    font-feature-settings: "liga" off, "clig" off;
    letter-spacing: -0.2px;
    margin-top: 20px;
    font: 400 18px/32px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .appImage {
    aspect-ratio: 5.81;
    object-fit: contain;
    object-position: center;
    width: 430px;
    margin-top: 55px;
    max-width: 100%;
  }
  .downloadBtns{
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
  .downloadBtns img{
    max-width: 205px;
    max-height: 74px;
  }
  .downloadBtns img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 400ms;
  }
  
  @media (max-width: 750px) {
    .container{
      max-width: 95%;
    }
    .heading{
      max-width: 95%;
    }
    .description{
      max-width: 95%;
    }
    .downloadBtns img{
      max-width: 150px;
      max-height: 40px;
    }
  }
  @media (max-width: 991px) {
    .heading {
      max-width: 100%;
      font-size: 40px;
    }
  
    .description {
      max-width: 100%;
    }
  
    .appImage {
      margin-top: 40px;
    }
  }