.carouselBox{
  max-width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}
.carousel{
  width: 900px;
}
.carouselWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    border-radius: 8px;
    display: flex;
    max-width: 302px;
    padding-bottom: 7px;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin: 0 15px;
  }
  
  .imageContainer {
    border-radius: 8px;
    background-color: rgba(249, 248, 254, 1);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  
  .cardImage {
    aspect-ratio: 0.84;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  
  .title {
    color: var(--Black-Text-Color, #1f1f1f);
    margin-top: 18px;
    font: 600 28px/1 Roboto, sans-serif;
  }
  
  .description {
    color: rgba(71,84,103,1);
    margin-top: 16px;
    font: 400 14px/25px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .description span:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .link {
    color: var(--Link-Color, #00e);
    text-decoration: none;
  }

  .customArrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    color: #1F1F1F;
    transition: background-color 0.3s ease;
  }
  
  .customArrowPrev {
    margin-right: 20px;
  }
  
  .customArrowNext {
    margin-left: 20px;
  }
  
  .customArrow:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
  }
  
  .customArrow:disabled {
    /* background-color: rgba(0, 0, 0, 0.2); */
    cursor: not-allowed;
  }
  .heading {
    color: #191a15;
    text-align: center;
    letter-spacing: -1.5px;
    font: 700 50px/1 Urbanist, -apple-system, Roboto, Helvetica, sans-serif;
   
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .subheading {
    color: #475467;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    letter-spacing: -0.2px;
    opacity: 0.7;
    max-width: 800px;
    font: 400 18px/32px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (max-width: 990px) {
    .carousel{
      width: 70%;
    }
    .heading{
      width: 80%;
      font-size: 40px;
    }
    .subheading{
      width: 90%;
      font-size: 18px;
    }
  }
  
  
  @media (max-width: 768px) {
    .carouselBox{
      max-width: 90%;
      margin-top: 40px;
    }
    .title {
      font-size: 24px;
    }
    
    .description {
      font-size: 12px;
      line-height: 20px;
    }
    .heading{
      width: 90%;
    }
    .subheading{
      width: 95%;
    }
    
  }