
.pricingContainer {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 10%;
    overflow: scroll;
   
  }
  .pricingContent{
    min-width: 500px;
    margin-top: 50px;
  }
  
  .title {
    color: var(--Black-Text-Color, #1f1f1f);
    text-align: center;
    font: 600 28px/1 Roboto, sans-serif;
  }
  
  .plansHeader {
    display: flex;
    margin-top: 61px;
    width: 100%;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .featuresLabel {
    font-feature-settings: "liga" off, "clig" off;
    min-height: 77px;
    font: 500 18px/32px Roboto, sans-serif;
    color: var(--Black-Text-Color, #1f1f1f);
    letter-spacing: -0.2px;
    flex-grow: 1;
  }
  
  .planCard {
    display: flex;
    min-height: 77px;
    flex-direction: column;
  }
  .fixedWidthCol{
    width: 140px
  }
  
  .planName {
    color: var(--Black-Text-Color, #1f1f1f);
    font: 600 18px/2 Roboto, sans-serif;
  }
  
  .planPrice {
    margin-top: 9px;
    width: 100%;
    font: 400 14px/20px Inter, sans-serif;
    color: var(--Body-text-Color, #475467);
  }
  
  .featuresList {
    margin-top: 22px;
    width: 100%;
  }
  .heading{
    color: var(--Black-Text-Color, #1F1F1F);
  text-align: center;
  font-family: Urbanist;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
  margin-bottom: 20px;
  }
  .para1, .para2{
    color: var(--Body-text-Color, #475467);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* Sub heading Text */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.2px;
  }
  .para2{
    color: var(--Primary-Colour, #F54F35);

  }
  
  .categoryTitle {
    color: var(--Black-Text-Color, #1f1f1f);
    font: 600 18px/2 Inter, sans-serif;
    padding: 12px 0;
  }
  
  .featureRow {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 13px 0;
    border-bottom: 1px solid var(--www-feedspace-io-athens-gray, #e5e7eb);
    justify-content: space-between;
  }
  .featureRow div{
    width: 140px;
  }
  
  .featureName {
    flex-grow: 1;
    font: 400 14px/1 Roboto, sans-serif;
    color: var(--Body-text-Color, #475467);
  }
  
  .featureValue {
    width: 126px;
    text-align: center;
    font: 400 14px/1 Inter, sans-serif;
    color: var(--Body-text-Color, #475467);
  }
  
  .getStartedWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  
  .getStartedButton {
    border: none;
    border-radius: 8px;
    background: var(--Secondary-Color, #FEF1EF);
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 11px 17px;
    font: 600 14px/27px Roboto, sans-serif;
    color: var(--Primary-Colour, #F54F35);
      
    letter-spacing: -0.5px;
    cursor: pointer;
  }
  
  .buttonIcon {
    font-size: 18px;
  }
  
  .noCreditCard {
    color: var(--Body-text-Color, #475467);
    font: 400 12px/26px Roboto, sans-serif;
    letter-spacing: -0.1px;
    margin-top: 4px;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }

  
  
  @media (max-width: 750px) {
    .pricingContainer{
      max-width: 95%;
      padding: 20px ;
    }
    .heading{
      font-size: 40px;
      line-height: 40px;
    }
    .para1, .para2{
      font-size: 16px;
      line-height: 28px;
    }
    .title{
      font-size: 20px;
    }
  }